:root {
    --primary: rgb(255, 255, 255);
}

.btn {
    margin: auto 25px;
    float: left;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.25s ease-out;
    background: rgb(24, 24, 14);
    color: rgb(168, 173, 116);;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.25s ease-out;
}

.btn--landing {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color:#fff;
}