

.Landingpage {
    position:fixed;
    padding:0;
    margin:0;
    overflow-y: scroll;
    top:0;
    left:0;
    background:#202020;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}


.Frontlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 12;
    transform: translate(-25%, 25%) scale(85%);

}


.FrontGraphic {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 10;
    transform: translate(20%, 10%) scale(80%, 90%);
}

.overallcontainer {
    display: grid;
    position: relative;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr); 
    grid-gap: auto;
    grid-auto-rows: 40px;
    font-size: 1.2rem;
}


.Landingpage-subcap {
    color: #fff;
    display: flex;
    justify-self: left;
    align-self: left;
    text-align: center;
    grid-row: 23;
    font-size: 1rem;
    margin-left: 18rem;
    width: 500px
}

.regcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 18;
    transform: translate(-25%);
}


.btn_register {
    display: flex;
    background-color: #317DEE;
    color: #fff;
    float: left;
    padding: 25px 80px;
    border-radius: 50px;
}

.btn_register:hover {
    padding: 22px 77px;
    border:3px solid #317DEE;
    transition: all 0.25s ease-out;
    background: #fff;
    color: #317DEE;
}

.arrow_container {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 21;
}

.front_arrow {
    cursor: pointer;
}

.white_triangle {
    display: flex;
    width: 0;
    height: 0;
    border-bottom: 150px solid #fff;
    border-left: 100vw solid transparent;
    transform: translate(0%, 11%);
    grid-row: 22;
}

.white_container {
    position:relative;
    padding:0;
    margin-top: 126.445px;
    overflow-y:hidden;
    overflow-x:hidden;
    top:0;
    left:0;
    background:#fff;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 4fr 1fr; 
    grid-gap: 5px;
    grid-auto-rows: 10px;
    font-size: 1.1rem;
}

.What_is_idc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52.2609px;
    line-height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202020;
    grid-row: 7;
    width: 600px;
    transform: translateY(175%) translateX(32%);
    grid-column: 1;
}

.What_is_idc_section {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34.8406px;
    line-height: 42px;
    color: #000C1D;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8;
    width: 600px;
    transform: translateX(32%) translateY(125%);
}

.idc_pencil {
    grid-row: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-30%) translateX(-45%);
    margin-left: 100px;
    width: 300px;
}

.icon_collection {
    grid-row: 12;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateY(-93%) translateX(15%) scale(92%);
}


@media screen and (max-width: 1400px) {
    .Landingpage {
        position:fixed;
        padding:0;
        margin:0;
        overflow-y: scroll;
        top:0;
        left:0;
        background:#202020;
        width: 100%;
        height: 100%;
        overflow-x:hidden;
    }

    .white_triangle {
        display: flex;
        width: 0;
        height: 0;
        border-bottom: 150px solid #fff;
        border-left: 100vw solid transparent;
        transform: translate(0%, 11%);
        grid-row: 22;
    }

    .icon_collection {
        display:none;
    }

    .Frontlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 10;
        transform: translate(0%, 25%) scale(85%);
        
    }
    
    
    .FrontGraphic {
        display: none
    }
    
    .overallcontainer {
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        grid-gap: auto;
        grid-auto-rows: 40px;
        font-size: 1.2rem;
    }
    
    .regcontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 16;
        transform: translate(0%);
       
    }
    
    .btn_register {
        display: flex;
        background-color: #317DEE;
        color: #fff;
        float: left;
        padding: 25px 80px;
        border-radius: 50px;
    }
    
    .btn_register:hover {
        padding: 22px 77px;
        border:3px solid #317DEE;
        transition: all 0.25s ease-out;
        background: #fff;
        color: #317DEE;
    }

    .white_container {
        position:relative;
        padding:0;
        margin-top: 126.445px;
        overflow-y:hidden;
        overflow-x:hidden;
        top:0;
        left:0;
        background:#fff;
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-rows: repeat(25, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 10px;
        font-size: 1.1rem;
    }

    .What_is_idc {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 52.2609px;
        line-height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #202020;
        grid-row: 7;
        width: 600px;
        transform: translateY(175%) translateX(32%);
        grid-column: 1;
    }
    
    .What_is_idc_section {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 34.8406px;
        line-height: 42px;
        color: #000C1D;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 8;
        width: 600px;
        transform: translateX(32%) translateY(125%);
    }
    
    .idc_pencil {
        grid-row: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        transform:translateY(-30%) translateX(-45%);
        margin-left: 100px;
        width: 300px;
    }
    .arrow_container {
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 21;
    }
    .What_is_idc {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 52.2609px;
        line-height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #202020;
        grid-row: 7;
        width: 600px;
        transform: translateY(175%) translateX(32%);
        grid-column: 1;
    }
    
    .What_is_idc_section {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 34.8406px;
        line-height: 42px;
        color: #000C1D;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 8;
        width: 600px;
        transform: translateX(32%) translateY(125%);
    }
    
    .idc_pencil {
        grid-row: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        transform:translateY(-30%) translateX(-45%);
        margin-left: 100px;
        width: 300px;
    }

    .white_container {
        position:relative;
        padding:0;
        margin-top: 126.445px;
        overflow-y:hidden;
        overflow-x:hidden;
        top:0;
        left:0;
        background:#fff;
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 4fr 1fr; 
        grid-gap: 5px;
        grid-auto-rows: 10px;
        font-size: 1.1rem;
    }
        @media screen and (max-width: 860px) {
            .Landingpage {
                position:fixed;
                padding:0;
                margin:0;
                overflow-y: scroll;
                top:0;
                left:0;
                background:#202020;
                width: 100%;
                height: 100%;
                overflow-x:hidden;
            }
        .white_triangle {
        display: flex;
        width: 0;
        height: 0;
        border-bottom: 150px solid #fff;
        border-left: 100vw solid transparent;
        transform: translate(0%, 11%);
        grid-row: 22;
    }
        .Frontlogo {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 10;
            transform: translate(-9%, 25%) scale(65%);
        }
        
        .FrontGraphic {
            display: none
        }
        
        .overallcontainer {
            display: grid;
            grid-template: repeat(1, 1fr) / repeat(1, 1fr);
            grid-gap: auto;
            grid-auto-rows: 40px;
            font-size: 1.2rem;
            
        }
        
        .regcontainer {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 15;
            transform: translate(-9%);
        }
        
        .btn_register {
            display: flex;
            background-color: #317DEE;
            color: #fff;
            float: left;
            padding: 25px 80px;
            border-radius: 50px;
        }
        
        .btn_register:hover {
            padding: 22px 77px;
            border:3px solid #317DEE;
            transition: all 0.25s ease-out;
            background: #fff;
            color: #317DEE;
        }
        .arrow_container {
            padding: 8px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 21;
            transform: translate(-9%);
        }
        .What_is_idc {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 52.2609px;
            line-height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #202020;
            grid-row: 7;
            width: 600px;
            transform: translateY(50%) scale(50%);
            grid-column: 1;
        }
        
        .What_is_idc_section {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 34.8406px;
            line-height: 42px;
            color: #000C1D;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-row: 8;
            width: 600px;
            transform: scale(50%);
        }
        
        .idc_pencil {
            grid-row: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            transform:translateY(-94%) translateX(-45%) scale(50%);
            margin-left: 100px;
            width: 300px;
        }

        .white_container {
            position:relative;
            padding:0;
            margin-top: 126.2445px;
            overflow-y:hidden;
            overflow-x:hidden;
            top:0;
            left:0;
            background:#fff;
            width: 100%;
            height: 50%;
            display:grid;
            grid-template-rows: repeat(12, 1fr);
            grid-template-columns: 4fr 1fr; 
            grid-gap: 5px;
            grid-auto-rows: 10px;
            font-size: 1.1rem;
        }
            @media screen and (max-width: 500px) {
                .white_container {
                    position:relative;
                    padding:0;
                    margin-top: 126.2445px;
                    overflow-y:hidden;
                    overflow-x:hidden;
                    top:0;
                    left:0;
                    background:#fff;
                    width: 100%;
                    height: 55%;
                    display:none;
                    grid-template-rows: repeat(12, 1fr);
                    grid-template-columns: 4fr 1fr; 
                    grid-gap: 5px;
                    grid-auto-rows: 10px;
                    font-size: 1.1rem;
                }
                .Frontlogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-row: 7;
                    width: 400px;
                    
                }
                
                .FrontGraphic {
                    display: none
                }
                
                .overallcontainer {
                    display: grid;
                    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
                    grid-gap: auto;
                    grid-auto-rows: 40px;
                    font-size: 1.2rem;
                    
                }
                
                .regcontainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-row: 11;
                    width: 400px;
                }
                
                .btn_register {
                    display: flex;
                    background-color: #317DEE;
                    color: #fff;
                    float: left;
                    padding: 20px 60px;
                    border-radius: 50px;
                }
                
                .btn_register:hover {
                    padding: 17px 57px;
                    border:3px solid #317DEE;
                    transition: all 0.25s ease-out;
                    background: #fff;
                    color: #317DEE;
                }
                .arrow_container {
                    padding: 8px 20px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    grid-row: 13;
                    margin-right: 60px;
                    margin-top: 50px;
                    
                }
                .What_is_idc {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 52.2609px;
                    line-height: 63px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    color: #202020;
                    grid-row: 5;
                    width: 600px;
                    margin-left: -50px;
                    margin-bottom: -30px;
                    /* transform: translateY(50%) translateX(-13%) scale(50%); */
                    grid-column: 1;
                }
                
                .What_is_idc_section {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30.8406px;
                    line-height: 42px;
                    color: #000C1D;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    grid-row: 6;
                    width: 500px;
                    margin-left: -20px;
                    margin-bottom: -20px;
                    /* transform: scale(42%) translateX(-40%) translateY(-10%); */
                }
                
                .idc_pencil {
                    grid-row: 9;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    /* transform:translateY(-94%) translateX(-70%) scale(50%); */
                    margin-left: 30px;
                    width: 300px;
                }
        
                .white_container {
                    position:relative;
                    padding:0;
                    margin-top: 126.2445px;
                    overflow-y:hidden;
                    overflow-x:hidden;
                    top:0;
                    left:0;
                    background:#fff;
                    width: 100%;
                    height: 50%;
                    display:none;
                    grid-template-rows: repeat(12, 1fr);
                    grid-template-columns: 4fr 1fr; 
                    grid-gap: 5px;
                    grid-auto-rows: 10px;
                    font-size: 1.1rem;
                }
                .white_triangle {
                    display: none;
                    width: 0;
                    height: 0;
                    border-bottom: 150px solid #fff;
                    border-left: 100vw solid transparent;
                    transform: translate(0%, 11%);
                    grid-row: 14;
                }

            }
        }
    }

    /*
    .btn_register_pop_up {
                    display: none;
                    background-color: #fff;
                    color: #4c7685;
                    margin: 25px 200px;
                    float: left;
                    padding: 30px 80px;
                    border-radius: 4px;
                    outline: #fff;
                    outline-width: 6px;
                    border: #fff;
                }

                .btn_register_pop_up:hover {
                    padding: 30px 80px;
                    transition: all 0.25s ease-out;
                    background: #394f57;
                    color: #fff;
                }
    */