.Landingpage {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#202020;
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
}

.Frontlogo {
    display: flex;
    justify-self: left;
    align-self: left;
    grid-row: 10;
    margin-top: 30px;
    margin-left: 13.7rem;
}

.FrontTriangles {
    display: flex;
    justify-self: left;
    align-self: left;
    grid-row: 5;
    margin-left: 3rem;
}

.FrontGraphic {
    display: flex;
    justify-self: left;
    align-self: left;
    grid-row: 3;
    margin-left: 50rem
}
.FrontGears {
    display: flex;
    justify-self: left;
    align-self: left;
    grid-row: 14;
    margin-left: 76.85rem
}

.overallcontainer {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    grid-gap: auto;
    grid-auto-rows: 40px;
    font-size: 1.2rem;
}

.Landingpage-subcap {
    color: #fff;
    display: flex;
    justify-self: left;
    align-self: left;
    grid-row: 13;
    font-size: 3rem;
    margin-left: 6rem;
}

.regcontainer {
    display: flex;
    align-items: left;
    justify-content: left;
    grid-row: 20;
}
.emailcontainer {
    display: flex;
    align-items: left;
    justify-content: left;
    grid-row: 15;
}

.btn_email{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.btn_email:hover {
    background-color:rgb(120, 159, 121);
    border-radius: 4px;
    transition: all 0.25s ease-out;
}

.btn_register {
    background-color: #fff;
    color: #4c7685;
    margin: 25px 360px;
    float: left;
    padding: 20px 150px;
    border-radius: 4px;
    outline: #fff;
    outline-width: 6px;
    border: #fff;
}

.btn_register:hover {
    padding: 20px 150px;
    transition: all 0.25s ease-out;
    background: #394f57;
    color: #fff;
}

.Landingpage-aboutus {
    color: #fff;
    display: flex;
    justify-self: center;
    align-self: center;
    grid-row: 18;
    font-size: 5rem;
}

.Landingpage-abouttext {
    color: #fff;
    display: flex;
    justify-self: center;
    align-self: center;
    grid-row: 20;
    font-size: 2rem;
}

.down_arrow {
    padding: 8px 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 19;
}

